.agendamentosContent {
  width: calc(100% - 30rem);
}

.container {
  height: 100dvh;
  max-width: 120rem;
  max-height: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    padding: 5rem 0rem;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;

    p {
      font-size: 1.3rem;
    }
  }
}

.agendamentos {
  height: 100dvh;
  width: 100%;
  display: grid;
  gap: 2rem;
  padding: 5rem 0rem;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.agendamentoItem {
  color: #fff;
  padding: 1rem;
  height: 22rem;
  min-width: unset;
  max-width: 45rem;
  border: 2px solid rgb(170, 170, 170);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .day {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 200;
    border-bottom: 1px solid rgb(170, 170, 170);
    width: 100%;
  }

  .infoContent {
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .infoItem {
    span {
      color: #846f2e;
    }
  }
}
