.modal {
  background-color: #3d3d3d2a;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #dc664d;
  color: #000;
  font-family: 1.6rem;
  width: 60rem;
  height: 30rem;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    width: 20rem;
    color: #fff;
    background-color: #232425;
  }

  label,
  placeholder,
  input {
    color: #000000;
  }

  .text {
    width: 90%;
    height: 8rem;
    border: none;
    outline: none;
    color: #fff;
    
  }
}

.btnModal {
  color: #fff !important;
}
