.btnModal {
  color: #fdfdfd;
}

.modal {
  background-color: #3d3d3d2a;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 70rem;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;

  button {
    width: 20rem;
    color: #000;
    background-color: #dc664d;
  }

  label,
  placeholder, input {
    color: #000000;
  }

  .text {
    border: none;
  }
}
