

.modal {
  background-color: #3d3d3d2a;
}

.box {
  width: 60rem;
  height: 30rem;
  background-color: #e67070;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    width: 20rem;
    color: #000;
    background-color: #dc664d;
  }

  label,
  placeholder, input {
    color: #000000;
  }

  .text {
    border: none;
  }
}

.btnModal {
  color: #fff !important;
}